*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


div.body {

    float: left;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas: 'p p p p p p p p ' 'p p p p p p p p ' 's c c c c c c a' 's c c c c c c a' 's c c c c c c a' 's c c c c c c a' 's c c c c c c a' 's c c c c c c a' 's c c c c c c a' 'f f f f f f f f';
    border: 1px solid #535870;
    justify-self: center;
    background-color: khaki;
}

header {

    display: inline-grid;
    grid-area: p;
    border: 1px solid green;
    background-color: khaki;
    margin: 2px;
}

aside#left {
    background-color: #5f874d;
    grid-area: s;
    border: 1px solid green;
    margin: 2px;

    -moz-box-shadow: inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow: inset 0 0 5px #000000;
}
aside#left p{
    /*background-color: rgba(129, 123, 105, 0.4) ;*/
    margin : 6px;
}

main {
    background-color: #e5ffa3;
    grid-area: c;
    border: 1px solid green;
    margin: 2px;
    /*-moz-box-shadow: inset 0 0 5px #000000;*/
    /*-webkit-box-shadow: inset 0 0 5px #000000;*/
    /*box-shadow: inset 0 0 5px #000000;*/
}
.tool-container{
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    margin:auto;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows:auto;
}
.tool-container .clock{
    padding-right: 20px;
    justify-self: end;
    align-self: center;
}
.tool-container .restart{
    padding-left: 20px;
    justify-self: start;
    align-self: center;
    transform: scale(1);
   }
.restart:active{
    transform:scale(.97);
    opacity: 30%;
    transition: transform .2s;
}

.grid-container {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    margin:auto;
    display: grid;
    grid-template-columns: 16.9% 16.9% 16.9% 16.9% 16.9% 16.9%;
    grid-template-rows: 90px 90px 90px 90px 90px 90px 90px;
    /*justify-content: center;*/
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid darkgreen;
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    text-align: center;
    width: 95%;
    height: 90%;
    transform: scale(1);

    /*transition: background 400ms ease-in-out;*/
    box-shadow: 0.5px 1px 0.5px 0px seagreen;

}
.grid-item:active{
    transform:scale(.97);
    transition: transform .2s;
}
.grid-item.hlight{
    /*border: 2px solid forestgreen;*/
    background-color: rgba(34, 139, 34, 0.3);
}
.grid-item.invisible{

    visibility: hidden;
}
.grid-item.blank{

    visibility: hidden;
}

h3{
    background-color: rgba(129, 123, 105, 0.3);
    font-family: "Segoe Script", sans-serif;
    justify-content: center;
    color: khaki;
    font-weight: bolder;
    text-shadow: 1px 1px 1px darkgreen;
    font-variant: small-caps;
    padding-left: 4px;
    padding-top: 5px;
    justify-self: center;
}

aside p{
    font-family: "Segoe Script", sans-serif;
    justify-content: center;
    color: khaki;
    /*font-weight: bold;*/
    text-shadow: 1px 1px 1px darkgreen;
    font-size:10pt;
    padding-left: 5px;

}
aside#right {
    grid-area: a;
    background-color: #5f874d;
    border: 1px solid green;
    margin: 2px;
    overflow: hidden;

    /*text-shadow: 1px 1px darkkhaki;*/
    -moz-box-shadow: inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow: inset 0 0 5px #000000;
}



footer {
    grid-area: f;
    border: 1px solid darkgreen;
}

#logo {
    justify-self: left;
    align-self: center;
    margin-left: 30px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    /*border: 1px solid green;*/
}

header #title {
    /*border: 1px solid green;*/
    text-shadow: 0px 1px 1px #4d4d4d;
    justify-self: center;
    /*margin-left: 200px;*/
    align-self: end;
    grid-column: 1/span 9;
    grid-row: 1;
    font-family: "Segoe Script", sans-serif;
    font-size: 32pt;
    color: #5f874d;
    font-variant: small-caps;
    padding-bottom: 0;
    margin-bottom: 0;

}
header #tatle {
border-top: 1px solid #5f874d;
    text-shadow: 0px 1px 1px #4d4d4d;
    justify-self: center;
    align-self: start;
    grid-column: 1/span 9;
    grid-row: 2;
    font-family: "Segoe Script", sans-serif;
    font-size: 14pt;
    color: #5f874d;
    padding-top: 0;
    margin-top: 0;
/*    !*font-variant: small-caps;*!*/

}

.content{
    max-width: 960px;
    min-width: 800px;
    margin: auto;
    justify-self: center;
}