*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    float: left;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
    grid-template-areas: 'p p p p p p p p ' 's c c c c c c a' 's c c c c c c a' 's c c c c c c a' 's c c c c c c a' 's c c c c c c a' 's c c c c c c a' 's c c c c c c a' 'f f f f f f f f';
    border: 1px solid #535870;
    justify-self: center;
    background-color: khaki;
}

header {

    display: inline-grid;
    grid-area: p;
    border: 1px solid green;
    background-color: khaki;
    margin: 2px;
}

aside#left {
    background-color: #65964e;
    grid-area: s;
    border: 1px solid green;
    margin: 2px;

    -moz-box-shadow: inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow: inset 0 0 5px #000000;

}

main {
    background-color: #e5ffa3;
    grid-area: c;
    border: 1px solid green;
    margin: 2px;
    /*-moz-box-shadow: inset 0 0 5px #000000;*/
    /*-webkit-box-shadow: inset 0 0 5px #000000;*/
    /*box-shadow: inset 0 0 5px #000000;*/
}

.grid-container {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    margin:auto;
    display: grid;
    grid-template-columns: 16.9% 16.9% 16.9% 16.9% 16.9% 16.9%;
    grid-template-rows: 90px 90px 90px 90px 90px 90px 90px;
    /*justify-content: center;*/
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid darkgreen;
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    text-align: center;
    width: 95%;
    height: 90%;
    transform: scale(1);

    /*transition: background 400ms ease-in-out;*/
    box-shadow: 0.5px 1px 0.5px 0px seagreen;

}
.grid-item:active{
    transform:scale(.97);
    transition: transform .2s;
}
.grid-item.hlight{
    /*border: 2px solid forestgreen;*/
    background-color: rgba(34, 139, 34, 0.3);
}
.grid-item.invisible{
    /*border: 2px solid forestgreen;*/
    visibility: hidden;
}

aside#right {
    grid-area: a;
    background-color: #5c8f45;
    border: 1px solid green;
    margin: 2px;
    font-family: "Segoe Script", sans-serif;
    justify-content: center;
    overflow: hidden;
    color: darkgreen;
    font-weight: bold;
    text-shadow: 1px 1px 1px darkkhaki;
    /*text-shadow: 1px 1px darkkhaki;*/
    -moz-box-shadow: inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow: inset 0 0 5px #000000;
}

area.tip {
    background-color: tomato;
    border-bottom: 1px dashed;
    text-decoration: none

}

footer {
    grid-area: f;
    border: 1px solid darkgreen;
}

#logo {
    justify-self: left;
    align-self: center;
    margin-left: 30px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    /*border: 1px solid green;*/
}

header div#title {
    /*border: 1px solid green;*/
    text-shadow: 0px 1px 1px #4d4d4d;
    /*//color: #222;*/
    justify-self: left;
    margin-left: 200px;
    align-self: center;
    grid-column: 2/span 8;
    grid-row: 1;
    font-family: "Segoe Script", sans-serif;
    font-size: 32pt;
    color: #5c8f45;
    font-variant: small-caps;

}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}